body {
    color: #191A23;
    margin: 5%;
    font-family: "Space Grotesk", sans-serif;
    padding: 0px 20px;
}

.positivus img {
    width: 50%;
}

.top img {
    width: 100%;
}

.top {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-top: 20px;
}

.topright div {
    align-items: center;
}

.topright {
    display: flex;
    gap: 50px;
}

.panel {
    display: flex;
    gap: 50px;
}

.request a {
    text-decoration: none;
    color: #191A23;
    border: 1px solid #191A23;
    border-radius: 14px;
    padding: 20px 35px;
}