.book p {
    display: inline-block;
    color: white;
    background-color: #191A23;
    border-radius: 14px;
    padding: 20px 35px;
}

.middle {
    gap: 200px;
}

.bottom {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1200px) {

    .bottom {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .mobile-illus {
        display: flex;
        width: 100%;
        margin: 10% auto;
        justify-content: center;
    }

}