body {
    font-family: "Space Grotesk", sans-serif;
    padding: 0px 100px;
    margin-top: 51px;
    color: #191a23;
}

body p {
    font-size: 20px;
}

.content {
    display: flex;
    gap: 200px;
    justify-content: space-between;
}

.word h1 {
    font-size: 60px;
}

.book p {
    display: inline-block;
    color: white;
    background-color: #191A23;
    border-radius: 14px;
    padding: 20px 35px;
}

.bottom {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}