body {
    background-color: black;
    font-family: "Oxygen", sans-serif;
    font-size: 15px;
}

.dailou {
    background-color: white;
    padding: 7px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dailou div {
    display: flex
}

.logo {
    max-width: 100%;
}

.phone {
    align-items: center;
    gap: 10px;
    font-weight: bolder;
}

.phone img {
    width: 20px;
    height: 20px;
}

.menu {
    gap: 10px;
}

.services {
    color: #f9612b;
}

.right {
    align-items: center;
}



.contactbutton a {
    text-decoration: none;
    background-color: #f9612b;
    color: white;
    padding: 13px 17px;
    border-radius: 8px;
}

.hamburger img {
    width: 30px;
    display: none;
}

@media screen and (max-width: 1300px) {

    .dailou .hamburger img {
        display: flex;
    }

    .contactbutton a {
        display: none;
    }
}


@media screen and (max-width: 1000px) {
    .menu div {
        display: none;
    }

    .phone img,
    p {
        display: none;
    }
}