.book p {
    display: inline-block;
    color: white;
    background-color: #191A23;
    border-radius: 14px;
    padding: 20px 35px;
}

.middle {
    gap: 200px;
}

.bottom {
    margin-top: 51px;
    display: flex;
    justify-content: space-between;
}

.mobile-illus img {
    display: none;

}

.illustration img {
    width: 100%;
}

.use a {
    text-decoration: none;
    color: #191A23;
    font-family: "Space Grotesk", sans-serif;
}

.submenu {
    background-color: #B9FF66;
    display: none;
    position: absolute;
    width: 200px;
    border-radius: 16px;
    padding: 10px;
    margin-top: 10px;
}

.submenu a {
    display: block;
    padding: 5px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.use:hover .submenu,
.services:hover .submenu,
.about:hover .submenu,
.pricing:hover .submenu,
.blog:hover .submenu {
    display: block;
}


@media screen and (max-width: 1100px) {

    .bottom {
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
    }

    .mobile-illus img {
        display: flex;
        width: 85%;
        margin: 10% auto;
        justify-content: center;
    }

}