  body {
      background-color: rgb(175, 8, 8);
      font-family: "Space Grotesk", sans-serif;
  }

  .all {
      margin: 3%;
  }


  .top {
      text-align: center;
      margin: auto;
  }

  .top p {
      font-size: 20px;
      color: rgb(211, 211, 211);
  }

  .top h1 {
      font-size: 30px;
      color: white;
  }

  .box {
      display: flex;
      gap: 20px;
      justify-content: center;
      flex-wrap: wrap;
  }

  .first {
      background-color: #e5e5e5;
      padding: 15px;
      border-radius: 10px;
      width: 30%;
  }

  .first img {
      width: 100%;
  }

  .word {
      width: 70%;
      background-color: rgb(105, 5, 5);
      padding: 10px;
      border-radius: 10px;
      text-align: center;
      position: relative;
      top: -30px;
      margin: auto
  }


  .box p {
      font-weight: 500;
      color: #e5e5e5;
  }

  .box a {
      text-decoration: none;
      color: rgb(255, 47, 47);
      font-weight: 1000;
  }


  @media screen and (max-width: 800px) {
      .top h1 {
          font-size: 25px;
      }

      .top p {
          font-size: 17px;
      }

      .box {
          flex-direction: column;
      }

  }